<div class="col-md-4 mt20">
        <div class="post-img">
           {% if page.img %}
            <img width="600" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
            {% else %}
            <img width="600" src="{{site.baseurl}}/images/{{site.default-image}}" alt="webjeda">
            {% endif %}
        </div>
            
        {% if page.layout == 'post' %}
        <div class="panel panel-primary mt10">
              <div class="panel-heading">
                <h3 class="panel-title">Danh sách bài học</h3>
              </div>      
              <ul class="list-group">
                <!-- Hiển thị theo categories-->
                      <li class="list-group-item list-group-item-info">fix4</li>
                      {% assign handle = page.categories %} {% case handle %}
                      {% when 'oop' %}
                      {% assign list = site.categories.oop %}
                      {% endcase %}
                {% for post in list | sort: 'lesson' %}
                    {% if page.categories == post.categories %}
                      {% if(post.url == page.url) %}
                      <li class="list-group-item list-group-item-info">
                      <p class ="baihoc"><a href="{{ post.url | prepend: site.baseurl }}">Bài {{post.lesson}}: {{ post.title }}</a></p>
                      </li>
                      {% else %}
                      <li class="list-group-item">
                      <p class="baihoc"><a href="{{ post.url | prepend: site.baseurl }}">Bài {{post.lesson}}: {{ post.title }}</a></p>
                      </li>
                      {% endif %}
                    {% endif %}

                {% endfor %}
              </ul>
        </div>
        {% endif %}
        <div class="mt10">
           <h4>Find us on facebook</h4>  
           <div class="fb-page" data-href="https://www.facebook.com/shareAboutIT" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/shareAboutIT" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/shareAboutIT">Tui Tự Code</a></blockquote></div>
        </div>
        <br>

</div>
