---
layout: default
title: "C++ cơ bản - basic"
---

<div class="home">
 
  
    <div class="row pack">
          {% for post in site.categories.basic %}
            <div class="col-md-3 card">
             <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">    
                <div class="panel panel-default">
                  
                  {% if post.img %}
                  <img width="100%" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
                  {% else %}
                  <img width="100%" src="{{site.baseurl}}/images/webjeda-logo-big.jpg" alt="{{site.title}}">
                  {% endif %}
                  
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{forloop.index}}.{{ post.title | truncate: 25 }}</h3><span class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
                  </div>
                  
                  <div class="panel-body"><small>
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 180 }}</small>
                  </div>
                </div>
                </a>
            </div>
          {% endfor %}

    </div> 
    
</div>
