---
layout: default
---
<div class="row">
<div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
            <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
                 
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

    </article>

       <div class="row">
            <ul class="pager">
{% for category in site.categories %}
    {% assign catg_name = category.first %}             
    {% if catg_name == page.categories[0] %}
        {% assign catg_posts = category.last %}
    {% endif %}
{% endfor %}
{% for post in catg_posts %}
    {% if post.title == page.title %}
        {% unless forloop.first %}
            <li class="previous">
            <a href="{{ site.baseurl }}{{ prev.url }}">&laquo; {{ prev.title }}</a>
            </li>
        {% endunless %}
        {% unless forloop.last %}
            {% assign next = catg_posts[forloop.index] %}
            <li class="next">
            <a href="{{ site.baseurl }}{{ next.url }}">{{ next.title }} &raquo;</a>
            </li>
        {% endunless %}
    {% endif %}
    {% assign prev = post %}
{% endfor %}
            </ul>
    </div>
    
    <div class="row">
        {% if site.disqus-shortname %}
         {% include disqus.html %}
        {% endif %}
    </div>
    
</div>


{% include sidebar.html %}

</div>


{% include fb-script.html %}
